<a href="https://colab.research.google.com/github/azharbangash/Machine-learning/blob/main/pythonbasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

print(" Hey I am Azhar Ali ")

 Hey I am Azhar Ali

In [4]:
age= 23
height= 5.9
name= "Azhar Ali"
print("Name: ",name,"\nAge: ",age,"\nHeight: ",height, )

Name:  Azhar Ali
Age:  23
Height:  5.9

In [5]:
print(name,type(name))
print(age,type(age))
print(height,type(height))

Azhar Ali <class 'str'>
23 <class 'int'>
5.9 <class 'float'>

In [10]:
number=int(input('Enter a number:'))
if number>0:
    print('number is Positive')
elif number<0:
    print('number is Negative')
else:
    print('number is Zero')

Enter a number:20
number is Positive

In [13]:
fruits=['Apple','Banana','Mango']
for fruit in fruits:
    print(fruit)
fruits.append('Grapes')
print(fruits)
fruits.remove('Banana')
print(fruits)
fruits.insert(1,'malta')
print(fruits)

Apple
Banana
Mango
['Apple', 'Banana', 'Mango', 'Grapes']
['Apple', 'Mango', 'Grapes']
['Apple', 'malta', 'Mango', 'Grapes']